body {
    background: url("./images/coffee-shop-bg.jpg") left center no-repeat;
    background-size: cover;

}

.container {
    width: 70%;
    background-color: rgba(0, 0, 0, 0.3);
    height: calc(100vh - 32px);
}

@media screen and (max-width: 720px) {
    .container {
        width: 100%;
        height: 100vh;
    }
}

.page {
    width: 100%;
    min-height: 100vh;
}

.big-cell {
    margin: 16px;
    padding: 16px;
}

.cell {
    margin: 8px;
    padding: 8px;
}

.margin-center {
    margin: 0 auto;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-width {
    width: 100%;
}

.dot-bounce {
    animation: 0.4s bounce linear infinite alternate;
    display: inline-block;
    position: absolute;
    bottom: 0;
    font-size: 48px;
    font-weight: bolder;
}

@keyframes bounce {
    from {
        bottom: 0px;
    }
    to {
        bottom: 16px;
    }
}

.chatbot-chat-item {
    max-width: 60%;
    background-color: #eee;
    border-radius: 10px;
    animation: 0.4s backwards bubble 0.4s;
}

@keyframes bubble {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.user-chat-item {
    max-width: 60%;
    background-color: cornflowerblue;
    border-radius: 10px;
    color: white;
    word-break: break-word;
    animation: 0.4s backwards bubble;
}

.send-button-disabled {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    font-size: 24px;
    color: white;
    background-color: #cccccc;
    cursor: pointer;
}

.send-button {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    font-size: 24px;
    color: white;
    background-color: #2196F3;
    cursor: pointer;
}

.date-text {
    float: right;
    font-size: 12px;
}

.spread {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.option-item {
    display: inline-block;
    background-color: orange;
    text-align: center;
    color: white;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.list-item {
    background-color: orange;
    text-align: center;
    color: white;
    border-radius: 10px;
    max-width: 500px;
    margin: 8px auto;
    cursor: pointer;
    animation: 0.4s backwards acordion 0.4s;
    transition: 0.4s;
}

.list-item:hover {
    background-color: rgba(255, 165, 0, 0.5);
    transition: 0.4s;
}


.list {
    display: flex;
}

@keyframes acordion {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }

}

.clickable:hover {
    cursor: pointer;
    background-color: #bbb;
}

.clickable:focus {
    cursor: pointer;
    background-color: #bbb;
}

.clickable {
    outline: none;
}

.text-field {
    padding: 8px;
    margin: 8px;
    background-color: #eeeeee;
    border-radius: 5px;
    font-size: 14px;
}

.welcome-title {
    font-size: 64px;
    font-weight: bolder;
    color: white;
    margin: 16px;
    padding: 16px;
    text-align: center;
}

.welcome-dsc {
    font-size: 24px;
    color: white;
    margin: 16px;
    padding: 16px;
    text-align: center;
    font-style: italic;
}

.spread-column {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    animation: 3s fade-in-out backwards;
}

.input-container {
    animation: 0.4s bubble backwards;
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.coffee-cup-container {
    display: inline-block;
    position: relative;
    margin: 16px;
    animation: 0.4s bubble backwards;
}

.coffee-cup-image {
    height: auto;
}

.coffee-cup-name {
    color: white;
    position: absolute;
    font-family: "Hand Written 2", serif;
    font-size: 64px;
    top: 50%;
    left: 16px;
    width: 162px;
    text-align: center;
}

.coffee-cup-coffee {
    background-color: #eeeeee;
    color: red;
    border-radius: 10px;
    width: 100%;
    padding: 4px 0;
    text-align: center;
}

.badge {
    position: absolute;
    right: -16px;
    top: 0;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #eee;
    color: red;
    font-weight: bold;
}

@font-face {
    font-family: 'Hand Written';
    src: url("./fonts/handwritten.ttf");
}

@font-face {
    font-family: 'Hand Written 2';
    src: url("./fonts/handwritten2.otf");
}

input, textarea {
    outline: none;
    border: 1px solid #cccccc;
}

input:focus, textarea:focus {
    border: 1px solid #a0a0a0;
}
